/* Estilo.css se aplica en todas las páginas dando una forma ordenada a la información, imágenes y etc.*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
    text-align: center; /*centra el contenido horizontalmente */
	background: #0077cc; /* Color de fondo*/
    color: white;
}	
	
header .logo {
    width: 100px;
    height: auto; /* Mantiene la proporción original */
	margin-top: 20px;
}	

nav ul {
  list-style: none;         /* Quita los puntos de la lista */
  padding: 0;               /* Elimina el espacio interno */
  margin:  0;               /* Elimina el espacio externo */
  display: flex;            /* Coloca los elementos en línea (horizontalmente) */
  justify-content: center;  /* Centra el menú horizontalmente */
  gap: 20px;                /* Espacio entre los elementos del menú */
}

nav ul li a {
  text-decoration: none;    /* Quita el subrayado de los enlaces */
  color:  white;             /* Color del texto */
  font-weight: bold;        /* Texto en negrita */
  line-height: 1.6;
}

nav ul li a:hover {
  text-decoration: underline;    /* El texto se subraya cuando el mouse pasa por encima */
}

.portada {
    max-width: 100%;          /* Ajusta el tamaño de la imagen */
    height: auto;
}

main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;        /* Espacio interno*/      
 }

.galeria {
  display: flex;            /*Se alinean en fila automaticamente, se crea contenedor flexible*/
  flex-wrap: wrap;          /*Si los elementos no caben en una sola línea, se bajarán a la siguiente fila*/
  justify-content: center;
  gap: 20px;                 /*Espacio entre las imagenes*/
  margin-top: 20px;
}

.galeria figure {
  width: 200px;
  text-align: center;
}

.galeria img {
  width: 100%;
  height: 130px;
  object-fit: cover;      /*Ajusta la imagen al tamaño del contenedor*/
  border-radius: 8px;
}


.galeria figcaption {         /*La información de la imagen, debajo de la imagen*/
  margin-top: 5px;
  font-style: italic;
  font-size: 0.9em;
  color: #555;
} 

footer {
  text-align: center;
  background: #0077cc;
  color: white;
 }


  